@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Global */

:root {
  --ui-color-1: #7db54f;
  --ui-color-2: #ffffff;
  --ui-color-3: #f2f2f2;
  --ui-color-4: #000000;
  --ui-color-5: #333333;
  --ui-color-6: #756157;
  --ui-color-7: #82b3d3;
  --ui-color-8: #3f5e72;
  --ui-color-9: #e6e6e6;
  --ui-color-10: #83b3d3;
  --ui-color-11: rgba(131, 179, 211, 0.12);
  --ui-color-12: rgba(131, 179, 211, 0.2);
  --ui-color-13: #68a2ca;
  --ui-color-14: rgba(104, 162, 202, 0.3);
  --ui-color-15: rgba(117, 97, 87, 0.3);
  --ui-color-16: #6c9e42;
  --ui-color-17: #615048;
  --ui-color-18: rgba(255, 255, 255, 0.3);
  --ui-color-19: #e5e5e5;
  --ui-color-20: rgba(255, 255, 255, 0.6);
  --ui-color-21: rgba(255, 255, 255, 0.1);
  --ui-color-22: #7db54f;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--ui-color-2);
  box-shadow: 0 0 15px 0 var(--ui-color-12);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.heading-1-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.heading-2-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* Header */

.header {
  padding: 0 70px;
}

.header-menu {
  display: flex;
  column-gap: 28px;
}

.header-logo {
  width: 140px;
  margin-bottom: -6px;
  z-index: 1;
}

.header-logo-img {
  display: block;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}

.header-menu-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-4);
  text-decoration: none;
}

.header-menu-link-current {
  position: relative;
}

.header-menu-link-current::after {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: var(--ui-color-6);
  content: "";
}

.header-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 268px;
  margin-left: auto;
}

.header-user-item {
  position: relative;
}

.site-search {
  padding: 32px 22px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.header-user-item .header-menu-link {
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-tag {
  position: absolute;
  top: 11px;
  left: 20px;
  max-width: 30px;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--ui-color-2);
  background-color: var(--ui-color-1);
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.header-user-button {
  width: 160px;
  margin-left: 20px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

.header-user-button:hover {
  background-color: var(--ui-color-17);
}

.header-user-button:focus-visible {
  background-color: var(--ui-color-17);
}

.header-user-button:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-6);
}

.header-user-button-disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

/* Footer */

.newsletters {
  padding: 96px 258px 104px;
  text-align: center;
}

.newsletters-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.newsletters-about {
  max-width: 475px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletters-form {
  display: flex;
}

.newsletters-input {
  padding: 11px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
  border: 3px solid var(--ui-color-3);
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
}

.newsletters-input:hover {
  background-color: var(--ui-color-9);
  border: 3px solid var(--ui-color-9);
}

.newsletters-input:focus-visible {
  background-color: var(--ui-color-9);
  border: 3px solid var(--ui-color-10);
  outline: none;
}

.newsletters-input:focus-visible:not(:placeholder-shown) {
  border: 3px solid var(--ui-color-10);
  outline: none;
}

.newsletters-input::placeholder {
  color: var(--ui-color-4);
  opacity: 0.6;
}

.newsletters-button {
  width: 232px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
  border-radius: 0 4px 4px 0;
}

.newsletters-button:hover {
  background-color: var(--ui-color-13);
}

.newsletters-button:focus-visible {
  background-color: var(--ui-color-13);
}

.newsletters-button:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-7);
}

.newsletters-button:disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

.footer-contacts {
  display: flex;
  padding: 40px 70px 30px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  color: var(--ui-color-10);
  box-sizing: border-box;
}

.socials-link:hover {
  color: var(--ui-color-13);
}

.socials-link:focus-visible {
  color: var(--ui-color-13);
}

.socials-link:active {
  color: var(--ui-color-14);
}

.footer-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--ui-color-4);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone:hover {
  color: var(--ui-color-6);
}

.footer-phone:focus-visible {
  color: var(--ui-color-6);
}

.footer-phone:active {
  color: var(--ui-color-15);
}

.footer-logo {
  width: 115px;
  color: var(--ui-color-4);
}

.footer-logo svg {
  display: block;
}

.footer-logo:hover {
  color: var(--ui-color-6);
}

.footer-logo:focus-visible {
  color: var(--ui-color-6);
}

.footer-logo:active {
  color: var(--ui-color-15);
}

/* -- MAIN-INDEX --  */

/* Hero */

.hero {
  min-height: 350px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: var(--ui-color-8);
}

.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Features */

.features {
  padding-top: 69px;
}

.features-title {
  max-width: 620px;
  margin: 0 auto 25px;
  text-align: center;
}

.features-about {
  margin-top: 0;
  margin-bottom: 90px;
  padding: 0 70px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.features-list-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.features-list-item {
  background-color: var(--ui-color-11);
}

.features-list-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 103px 85px 85px;
  box-sizing: border-box;
}

.features-list-item-container::before {
  width: 60px;
  height: 2px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  order: 2;
}

.features-list-item .heading-3-title {
  max-width: 175px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.features-list-item .features-list-description {
  margin: 0;
  text-align: center;
  color: var(--ui-color-5);
  order: 3;
}

.features-list-item-dark {
  background-color: var(--ui-color-12);
}

.features-list-item-wide {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--ui-color-7);
}

.features-list-item-wide .features-list-item-container::before {
  background-color: var(--ui-color-18);
}

.features-list-item-wide .heading-3-title {
  color: var(--ui-color-2);
}

.features-list-item-wide .features-list-description {
  text-align: center;
  color: var(--ui-color-2);
  order: 3;
}

.features-title-2 {
  max-width: 505px;
  margin: 0 auto 20px;
  text-align: center;
}

.features-about-2 {
  margin-top: 0;
  margin-bottom: 64px;
  padding: 0 70px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.features-list-2 {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item-2 {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
  background-color: var(--ui-color-2);
  background-repeat: no-repeat;
  background-position: top 80px center;
  box-sizing: border-box;
}

.features-list-item-2-dark {
  background-color: var(--ui-color-12);
}

.features-list-item-2 .heading-3-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.features-list-item-2 .features-list-description {
  margin: 0;
  text-align: center;
}

.features-list-item-2-housing {
  background-image: url("../images/icons/infrastructure-1.svg");
}

.features-list-item-2-food {
  background-image: url("../images/icons/infrastructure-2.svg");
}

.features-list-item-2-souvenir {
  background-image: url("../images/icons/infrastructure-3.svg");
}

/* Hotel Search */

.hotel-search {
  padding: 96px 304px 196px;
  text-align: center;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.hotel-search-about {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.hotel-search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

.hotel-search-button:hover {
  background-color: var(--ui-color-17);
}

.hotel-search-button:focus-visible {
  background-color: var(--ui-color-17);
}

.hotel-search-button:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-6);
}

.hotel-search-button-disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

/* Newsletters Index Page */

.newsletters-index {
  background-image: url("../images/newsletters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.newsletters-title-index {
  color: var(--ui-color-2);
}

.newsletters-about-index {
  color: var(--ui-color-2);
}

/* -- MAIN-CATALOG -- */

.main-catalog-header {
  padding: 35px 70px 70px;
  background-image: url("../images/catalog-filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--ui-color-2);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs-items {
  display: flex;
  align-items: center;
}

.breadcrumbs-items:not(:last-child)::after {
  width: 7px;
  height: 11px;
  margin: 0 10px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--ui-color-2);
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: var(--ui-color-20);
}

.breadcrumbs-link:focus-visible {
  color: var(--ui-color-2);
}

.breadcrumbs-link:active {
  color: var(--ui-color-18);
}

.breadcrumbs-link-main {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-filter {
  display: flex;
}

.catalog-fieldset-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-2);
  text-transform: capitalize;
}

.catalog-fieldset-option {
  line-height: 23px;
  color: var(--ui-color-2);
}

.catalog-filter-submit {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-filter-submit:hover {
  background-color: var(--ui-color-13);
}

.catalog-filter-submit:focus-visible {
  background-color: var(--ui-color-13);
  outline: none;
}

.catalog-filter-submit:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-7);
}

.catalog-filter-submit:disabled {
  background-color: var(--ui-color-19);
}

.catalog-filter-reset {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: transparent;
}

.catalog-filter-reset:hover {
  color: var(--ui-color-20);
}

.catalog-filter-reset:focus-visible {
  outline: 3px solid var(--ui-color-10);
}

.catalog-filter-reset:active {
  color: var(--ui-color-18);
}

.catalog-filter-reset:disabled {
  color: var(--ui-color-21);
}

/* Products Catalog */

.catalog-products {
  padding: 50px 70px 60px;
}

.catalog-products-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products-title {
  margin: 0;
}

.catalog-products-select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  padding: 12px 20px 12px 40px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--ui-color-5);
  border: 2px solid var(--ui-color-19);
  border-radius: 4px;
  background-color: var(--ui-color-2);
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.catalog-products-select:hover {
  border: 2px solid var(--ui-color-13);
}

.catalog-products-select:focus-visible {
  border: 2px solid var(--ui-color-13);
  outline: none;
}

.catalog-products-select:disabled {
  color: var(--ui-color-4);
  border: 2px solid var(--ui-color-4);
  opacity: 0.3;
}

.view-modes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-mode-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--ui-color-19);
  border-radius: 4px;
}

.view-mode-button-grid {
  background-image: url("../images/icons/mode-grid.svg");
}

.view-mode-button-card {
  background-image: url("../images/icons/mode-card.svg");
}

.view-mode-button-list {
  background-image: url("../images/icons/mode-list.svg");
}

.view-mode-button-current {
  border: 2px solid var(--ui-color-4);
}

.view-mode-button:hover {
  border: 2px solid var(--ui-color-4);
}

.view-mode-button:focus-visible {
  border: 2px solid var(--ui-color-13);
}

.view-mode-button:active {
  border: 2px solid var(--ui-color-4);
}

.catalog-product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--ui-color-9);
}

.catalog-product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border: 1px solid var(--ui-color-9);
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.catalog-product-img {
  display: block;
  margin-bottom: 16px;
}

.catalog-product-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--ui-color-4);
}

.catalog-product-type {
  margin: 0;
  color: var(--ui-color-5);
}

.catalog-product-price {
  margin: 0;
  text-align: end;
  color: var(--ui-color-5);
}

.catalog-product-about {
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

.catalog-product-about:hover {
  background-color: var(--ui-color-17);
}

.catalog-product-about:focus-visible {
  background-color: var(--ui-color-17);
}

.catalog-product-about:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-6);
}

.catalog-product-about-disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

.catalog-product-favorite {
  width: 140px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-product-favorite:hover {
  background-color: var(--ui-color-13);
}

.catalog-product-favorite:focus-visible {
  background-color: var(--ui-color-13);
}

.catalog-product-favorite:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-7);
}

.catalog-product-favorite:disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

.catalog-product-favorite-added {
  background-color: var(--ui-color-1);
}

.catalog-product-favorite-added:hover {
  background-color: var(--ui-color-16);
}

.catalog-product-favorite-added:focus-visible {
  background-color: var(--ui-color-16);
}

.catalog-product-favorite-added:active {
  background-color: var(--ui-color-22);
}

.catalog-product-favorite-added:disabled {
  background-color: var(--ui-color-19);
  pointer-events: none;
}

.catalog-product-stars {
  height: 17px;
  margin: auto 0;
  background-image: url("../images/icons/rate-star.svg");
  background-repeat: space no-repeat;
}

.catalog-product-stars-two {
  width: 42px;
}

.catalog-product-stars-three {
  width: 63px;
}

.catalog-product-stars-four {
  width: 84px;
}

.catalog-product-rating {
  width: 140px;
  margin: 0;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--ui-color-5);
  text-transform: uppercase;
  background-color: var(--ui-color-3);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.pagination-link:hover {
  background-color: var(--ui-color-13);
  border: 1px solid var(--ui-color-7);
}

.pagination-link:focus-visible {
  background-color: var(--ui-color-13);
  border: 1px solid var(--ui-color-7);
}

.pagination-link:active {
  color: var(--ui-color-18);
  background-color: var(--ui-color-7);
}

.pagination-link-current {
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.pagination-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

/* Newsletters */

.newsletters-about-catalog {
  color: var(--ui-color-5);
}
