@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Global */

:root {
  --ui-color-1: #7db54f;
  --ui-color-2: #ffffff;
  --ui-color-3: #f2f2f2;
  --ui-color-4: #000000;
  --ui-color-5: #333333;
  --ui-color-6: #756157;
  --ui-color-7: #82b3d3;
  --ui-color-8: #3f5e72;
  --ui-color-9: #e5e5e5;
  --ui-color-10: #83b3d3;
  --ui-color-11: rgba(131, 179, 211, 0.12);
  --ui-color-12: rgba(131, 179, 211, 0.20);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--ui-color-2);
}

.custom-button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.heading-1-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.heading-2-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.header-menu {
  display: flex;
  width: 100%;
}

.header-logo {
  width: 140px;
  margin-right: 28px;
}

.header-logo-img {
  display: block;
}

.header-menu-list {
  width: 340px;
}

.header-menu-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-4);
  text-decoration: none;
}

.header-user {
  max-width: 268px;
  margin-left: auto;
}

.site-search {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-4);
  background-color: transparent;
  border: none;
}

.favorites-tag {
  max-width: 30px;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--ui-color-2);
  background-color: var(--ui-color-1);
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.header-user-button {
  width: 160px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

/* Footer */

.newsletters {
  min-height: 414px;
}

.newsletters-title {
  text-align: center;
}

.newsletters-about {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletters-input {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletters-input::placeholder {
  color: var(--ui-color-4);
  opacity: 0.6;
}

.newsletters-button {
  width: 232px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
  border-radius: 0 4px 4px 0;
}

.footer-contacts {
  display: flex;
  padding: 0 70px;
}

.footer-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--ui-color-4);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  width: 115px;
}

/* -- MAIN-INDEX --  */

.main-container {
  flex-grow: 1;
}

/* Hero */

.hero {
  min-height: 485px;
  background-image: url("../images/divider.svg"),
  url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: var(--ui-color-8);
}

/* Features */

.features-title {
  text-align: center;
  color: var(--ui-color-4);
}

.features-list-item {
  background-color: var(--ui-color-11);
}

.features-list-item-dark {
  background-color: var(--ui-color-12);
}

.features-list-item-wide {
  background-color: var(--ui-color-7);
}

.features-list-item-2 {
  background-color: var(--ui-color-11);
}

.features-list-item-2-dark {
  background-color: var(--ui-color-12);
}

.features-list-title-white {
  text-align: center;
  color: var(--ui-color-2);
}

.features-list-description-white {
  text-align: center;
  color: var(--ui-color-2);
}

.features-list-title-black {
  text-align: center;
  color: var(--ui-color-4);
}

.features-list-description-dark {
  text-align: center;
  color: var(--ui-color-5);
}

.features-about {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

/* Hotel Search */

.hotel-search-title {
  text-align: center;
}

.hotel-search-about {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.hotel-search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

/* Newsletters Index Page */

.newsletters-index {
  background-image: url("../images/newsletters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.newsletters-title-index {
  color: var(--ui-color-2);
}

.newsletters-about-index {
  color: var(--ui-color-2);
}

/* -- MAIN-CATALOG -- */

.main-catalog-header {
  min-height: 412px;
  background-image: url("../images/catalog-filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.main-catalog-header-container {
  padding: 0 70px;
}

.catalog-title {
  color: var(--ui-color-2);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--ui-color-2);
}

.catalog-filter {
  display: flex;
}

.catalog-fieldset-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-2);
  text-transform: capitalize;
}

.catalog-fieldset-option {
  line-height: 23px;
  color: var(--ui-color-2);
}

.catalog-filter-submit {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-filter-reset {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: transparent;
}

/* Products Catalog */

.catalog-products-container {
  padding: 0 70px;
}

.catalog-product-card-link {
  display: block;
  text-decoration: none;
}

.catalog-product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--ui-color-4);
}

.catalog-product-type {
  color: var(--ui-color-5);
}

.catalog-product-price {
  color: var(--ui-color-5);
}

.catalog-product-about {
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

.catalog-product-favorite {
  width: 140px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-product-favorite-added {
  background-color: var(--ui-color-1);
}

.catalog-product-stars {
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-5);
  text-transform: uppercase;
}

.catalog-product-rating {
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--ui-color-5);
  text-transform: uppercase;
  background-color: var(--ui-color-3);
  border-radius: 4px;
}

/* Pagination */

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.pagination-link-current {
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.pagination-link-more {
  color: var(--ui-color-4);
  background-color: transparent;
}

/* Newsletters */

.newsletters-title-catalog {
  color: var(--ui-color-4);
}

.newsletters-about-catalog {
  color: var(--ui-color-5);
}

