@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Global */

:root {
  --ui-color-1: #7db54f;
  --ui-color-2: #ffffff;
  --ui-color-3: #f2f2f2;
  --ui-color-4: #000000;
  --ui-color-5: #333333;
  --ui-color-6: #756157;
  --ui-color-7: #82b3d3;
  --ui-color-8: #3f5e72;
  --ui-color-9: #e6e6e6;
  --ui-color-10: #83b3d3;
  --ui-color-11: rgba(131, 179, 211, 0.12);
  --ui-color-12: rgba(131, 179, 211, 0.20);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--ui-color-2);
  box-shadow: 0 0 15px 0 var(--ui-color-12);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-button {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.heading-1-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.heading-2-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Header */

.header {
  padding: 0 70px;
}

.header-menu {
  display: flex;
}

.header-logo {
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
  z-index: 1;
}

.header-logo-img {
  display: block;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}

.header-menu-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-4);
  text-decoration: none;
}

.header-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 268px;
  margin-left: auto;
}

.site-search {
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-4);
  background-color: transparent;
  border: none;
}

.favorites-tag {
  max-width: 30px;
  min-width: 20px;
  min-height: 20px;
  padding: 4px 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--ui-color-2);
  background-color: var(--ui-color-1);
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.header-user-button {
  width: 160px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

/* Footer */

.newsletters {
  padding: 96px 258px 104px;
  text-align: center;
}

.newsletters-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.newsletters-about {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletters-input {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletters-input::placeholder {
  color: var(--ui-color-4);
  opacity: 0.6;
}

.newsletters-button {
  width: 232px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
  border-radius: 0 4px 4px 0;
}

.footer-contacts {
  display: flex;
  padding: 40px 70px 30px;
}

.footer-phone {
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--ui-color-4);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  width: 115px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
}

.socials-link {
  display: block;
  width: 20px;
  min-height: 14px;
}

/* -- MAIN-INDEX --  */

/* Hero */

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/divider.svg"),
  url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: var(--ui-color-8);
}

.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Features */

.features {
  padding-top: 69px;
}

.features-title {
  max-width: 620px;
  margin: 0 auto 25px;
  text-align: center;
}

.features-about {
  margin-top: 0;
  margin-bottom: 90px;
  padding: 0 70px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.features-list-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.features-list-item {
  background-color: var(--ui-color-11);
}

.features-list-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  min-height: 385px;
  padding: 103px 85px 85px;
  box-sizing: border-box;
}

.features-list-item .heading-3-title {
  max-width: 175px;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}

.features-list-item .features-list-description {
  margin: 0;
  text-align: center;
  color: var(--ui-color-5);
}

.features-list-item-dark {
  background-color: var(--ui-color-12);
}

.features-list-item-wide {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--ui-color-7);
}

.features-list-item-wide .heading-3-title {
  color: var(--ui-color-2);
}

.features-list-item-wide .features-list-description {
  text-align: center;
  color: var(--ui-color-2);
}

.features-title-2 {
  max-width: 505px;
  margin: 0 auto 20px;
  text-align: center;
}

.features-about-2 {
  margin-top: 0;
  margin-bottom: 64px;
  padding: 0 70px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.features-list-2 {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item-2 {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
  background-color: var(--ui-color-11);
  box-sizing: border-box;
}

.features-list-item-2-dark {
  background-color: var(--ui-color-12);
}

.features-list-item-2 .heading-3-title {
  text-align: center;
}

.features-list-item-2 .features-list-description {
  text-align: center;
}

/* Hotel Search */

.hotel-search {
  padding: 96px 304px 196px;
  text-align: center;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.hotel-search-about {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--ui-color-5);
}

.hotel-search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

/* Newsletters Index Page */

.newsletters-index {
  background-image: url("../images/newsletters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.newsletters-title-index {
  color: var(--ui-color-2);
}

.newsletters-about-index {
  color: var(--ui-color-2);
}

/* -- MAIN-CATALOG -- */

.main-catalog-header {
  padding: 35px 70px 70px;
  background-image: url("../images/catalog-filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ui-color-8);
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--ui-color-2);
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--ui-color-2);
}

.catalog-filter {
  display: flex;
}

.catalog-fieldset-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--ui-color-2);
  text-transform: capitalize;
}

.catalog-fieldset-option {
  line-height: 23px;
  color: var(--ui-color-2);
}

.catalog-filter-submit {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-filter-reset {
  width: 191px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: transparent;
}

/* Products Catalog */

.catalog-products {
  padding: 50px 70px 60px;
}

.catalog-products-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products-title {
  margin: 0;
}

.catalog-products-select {
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.view-modes {
  display: flex;
  flex-wrap: wrap;
}

.view-mode-item {
  margin-right: 8px;
}

.view-mode-item:last-child {
  margin-right: 0;
}

.view-mode-button {
  width: 48px;
  height: 48px;
}

.catalog-product-card {
  width: 340px;
  padding: 20px;
  border: 1px solid var(--ui-color-9);
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-product-card-link {
  display: block;
  text-decoration: none;
}

.catalog-product-img {
  display: block;
}

.catalog-product-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--ui-color-4);
}

.catalog-product-type {
  color: var(--ui-color-5);
}

.catalog-product-price {
  color: var(--ui-color-5);
}

.catalog-product-about {
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-6);
}

.catalog-product-favorite {
  width: 140px;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.catalog-product-favorite-added {
  background-color: var(--ui-color-1);
}

.catalog-product-stars {
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: var(--ui-color-5);
  text-transform: uppercase;
}

.catalog-product-rating {
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--ui-color-5);
  text-transform: uppercase;
  background-color: var(--ui-color-3);
  border-radius: 4px;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: var(--ui-color-2);
  background-color: var(--ui-color-7);
}

.pagination-link-current {
  color: var(--ui-color-4);
  background-color: var(--ui-color-3);
}

.pagination-link-more {
  color: var(--ui-color-4);
  background-color: transparent;
}

/* Newsletters */

.newsletters-about-catalog {
  color: var(--ui-color-5);
}
